* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: 5rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  height: var(--nav-height);
}

#units > li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}

#main {
  padding: 2rem 30%;
}

#search {
  padding: 1rem 0;
}

#current {
  padding: 1rem;
  border: 1px solid;
}

#current-title {
  border-bottom: 1px solid;
  padding: 0.7rem 0;
}

#location {
  color: gray;
}

#current-info {
  display: grid;
  grid-template-areas:
    "c-icon temp feel feel"
    "c-icon temp wind wind"
    "c-icon temp . ."
    "condition condition . .";
  padding: 1rem;
}

#c-icon {
  grid-area: c-icon;
}
#condition {
  grid-area: condition;
}
#temp {
  grid-area: temp;
  font-size: 60px;
}
#feel {
  grid-area: feel;
}

#units > * {
  padding: 1rem;
  cursor: pointer;
}
.active {
  background-color: rgb(0, 99, 117);
  border-radius: 50%;
}
