* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: 5rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  height: var(--nav-height);
}

#units>li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}

#main {
  padding: 2rem 20%;
}

#search {
  padding: 1rem 0;
}

#current {
  padding: 1rem;
  border: 1px solid;
}

#current-title {
  border-bottom: 1px solid;
}